# the challenge
https://preppindata.blogspot.com/2020/01/2020-week-1.html

In [3]:
# setup
import pandas as pd
import os
import numpy as np
import time
current_dir = os.getcwd()
sub_dir = 'inputs'
files = os.path.join(current_dir, sub_dir)
csv_file = [file for file in os.listdir(files) if file.endswith('.csv')]
csv_file

['PD 2020 WK 1 Input - Sheet1.csv']

In [5]:
for csv in csv_file:
    csv_path = os.path.join(current_dir,sub_dir, csv)
    df = pd.read_csv(csv_path)
df.head(3)

# get the levels using isnumeric
levels = []
for item in df['Item']:
    level = sum(
        [i.isnumeric() for i in item]
    )
    levels.append(level)
df['Level'] = levels



# create hierrachy : define parents and children 
# 3 as the last children, 1 as the first parent
parent_1 = (df['Level'] == 1) 
parent_2 = (df['Level'] == 2)
parent_3 = (df['Level'] == 3)
children_1 =  (df['Level'] == 3) 
children_2 =  (df['Level'] == 2) 



# string slicing : use str[0]
# indicate the subset : specific rows matching "children" condition 
df.loc[children_1,'Parent'] = df['Item'].str[:3]
df.loc[children_2,'Parent'] = df['Item'].str[0]


df.loc[parent_1,'ID'] = df['Item'].str[0]
df.loc[parent_2,'ID'] = df['Item'].str[:3]
df.loc[parent_3,'ID'] = df['Item'].str[:5]


def assign_df(df, id_key):
    df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()

for index, row in df.iterrows():
    level_key = row['Level']
    parent_key = row['Parent']
    id_key = row['ID']
    # print(f'processing level {level_key}, parent {parent_key}, id {id_key}',end='\r')
    # time.sleep(1) 
    print(f'processing level {level_key}, parent {parent_key}, id {id_key}',end='\r')


    # ignore calcs for child
    
    if level_key == 3:
        continue

    # # 1st sequence for n+1 parents
    if level_key == 2:
        assign_df(df,id_key)

    first_seq_ran = True
    
    time.sleep(1) 

for index, row in df.iterrows():
    level_key = row['Level']
    parent_key = row['Parent']
    id_key = row['ID']    
    # # 2nd sequence for upper parents
    if level_key == 1 and first_seq_ran:
        # df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()
        assign_df(df,id_key)
df

                     Item   Profit  Level Parent     ID
0             1. Bar Soap  21744.0      1    NaN      1
1              1.1 Opaque  16398.0      2      1    1.1
2          1.1.1 Lavender  10778.0      3    1.1  1.1.1
3             1.1.2 Honey  -6103.0      3    1.1  1.1.2
4            1.1.3 Orange   5422.0      3    1.1  1.1.3
5              1.1.4 Mint   6301.0      3    1.1  1.1.4
6         1.2 Transparent   5346.0      2      1    1.2
7          1.2.1 Lavender  10769.0      3    1.2  1.2.1
8             1.2.2 Honey   -270.0      3    1.2  1.2.2
9            1.2.3 Orange  -4981.0      3    1.2  1.2.3
10             1.2.4 Mint   -172.0      3    1.2  1.2.4
11         2. Liquid Soap  27219.0      1    NaN      2
12             2.1 Opaque  28810.0      2      2    2.1
13         2.1.1 Lavender  -1740.0      3    2.1  2.1.1
14            2.1.2 Honey  14520.0      3    2.1  2.1.2
15           2.1.3 Orange   1551.0      3    2.1  2.1.3
16             2.1.4 Mint  14479.0      3    2.1  2.1.4
17        2.2 Transparent  -1591.0      2      2    2.2
18         2.2.1 Lavender  -4302.0      3    2.2  2.2.1
19            2.2.2 Honey  -1566.0      3    2.2  2.2.2
20           2.2.3 Orange   1187.0      3    2.2  2.2.3
21             2.2.4 Mint   3090.0      3    2.2  2.2.4
22         3. Accessories -13515.0      1    NaN      3
23  3.1 Exfoliating Glove -16288.0      2      3    3.1
24            3.1.1 Green  -9507.0      3    3.1  3.1.1
25           3.1.2 Yellow  -2863.0      3    3.1  3.1.2
26              3.1.3 Red  -3918.0      3    3.1  3.1.3
27        3.2 Soap Holder   2773.0      2      3    3.2
28            3.2.1 Stone  -7070.0      3    3.2  3.2.1
29            3.2.2 White   4675.0      3    3.2  3.2.2
30            3.2.3 Black   5168.0      3    3.2  3.2.3